*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A3232;
    color: rgb(214, 203, 203);

    .image-Avis{
        width: 500px;
    }

    input{
        background-color: #b8bdb7;
        border: solid 1px grey;
        height: 20px;
        border-radius: 5px;
        padding-left: 5px;
        color: rgb(9, 10, 10);
    }
    header{

        width: 100%;
        
        img.logo{
            height: 2rem;
            margin: 0.5rem;
            padding: 0;
            padding-left: 2rem;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
                li{
                    margin-right: 5px;
                    a{
                        text-decoration: none;
                        background-color: #5CBB45;
                        padding: 0.2rem 0.7rem;
                        border-radius: 7px;
                        
                    }
                }
                
            }
        }
    }
    
    .section-form{

    display: flex;
        .left-side{
            .image-Avis{
                width: 450px;
                height: 400px;
            }
        }
        .right-side{
            background-color: rgb(190, 187, 182);
        }
    }
    h1{
        text-align: center;
    }
 
    .info-container{
        border: solid 1px gray;
        margin: 0.5rem 1rem;
        padding: 0 1rem;
    }

    .list-container{
        margin: 0.5rem 1rem;
    }
}

@media  (min-width : 765px){
    
    div.info-container{
        width: 35rem;  

    }
}